[submodule "Axle/vendor/spdlog"]
	path = Axle/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Axle/vendor/doctest"]
	path = Axle/vendor/doctest
	url = https://github.com/doctest/doctest
[submodule "Axle/vendor/GLFW"]
	path = Axle/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Axle/vendor/glm"]
	path = Axle/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Axle/vendor/imgui"]
	path = Axle/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Axle/vendor/mio"]
	path = Axle/vendor/mio
	url = https://github.com/vimpunk/mio.git
[submodule "vendor/flatbuffers"]
	path = vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "Axle/vendor/entt"]
	path = Axle/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Axle/vendor/simpleini"]
	path = Axle/vendor/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "Axle/vendor/assimp"]
	path = Axle/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Axle/vendor/tracy"]
	path = Axle/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Editor/vendor/ImGuizmo"]
	path = Editor/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
